user show
<h1>Books</h1>
title   opinion
<% @books.each do |book| %>
  <div>
    <%= image_tag book.user.get_profile_image(100, 100) %>
    <%= book.user.name %>
    <%= link_to book.title, book_path(current_user) %>
    <%= book.body %>
  </div>
<% end %>

user index
<h1>Users</h1>
image   name
<% @users.each do |user| %>
  <div>
    <%= link_to image_tag(@user.get_profile_image(100,100)), user_path(@user) %>
    <%= @user.name %>
    <%= link_to "show", user_path(user) %>
  </div>
<% end %>

book show
<div>
  <%= image_tag @book.get_image %>
  <p><%= link_to @book.user.name, user_path(current_user) %></p>
  <p><%= link_to @book.title %></p>
  <p><%= @book.body %></p>
  <% if @book.user == current_user %>
  <%= link_to edit_book_path, method: :get, class: 'btn btn-success' do %>
    Edit
    <% end %>
    <%= link_to book_path(@book), method: :delete, data: { confirm: "本当に消しますか？" }, class: "btn btn-danger" %>
    Destroy
    <% end %>
  </div>
  
  book index
  <% @books.each do |book| %>
  <div>
    <%= image_tag book.get_image %>
    <%= link_to book.title, book_path(current_user) %>
    <%= book.body %>
  </div>
<% end %>

<%= link_to books_path(@book.id) do %>
  <% end %>