Books(兼Home)

<%= render 'user', user: @user %>
<%= render partial: 'books/books', locals: { book: @book } %>

<h1>Books</h1>
title   opinion
<% @books.each do |book| %>
  <div>
    <%= image_tag book.user.get_profile_image(100, 100) %>
    <%= book.user.name %>
    <%= link_to book.title, book_path(book.id) %>
    <%= book.body %>
  </div>
<% end %>