<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <%= render 'user', user: @user %>
      <%= render partial: 'books/books', locals: { book: @book } %>
    </div>

     <div class='col-md-8 offset-md-1'>
       <h1>Books</h1>
       title   opinion
       <% @books.each do |book| %>
      <div>
       <%= image_tag book.user.get_profile_image(100, 100) %>
       <%= book.user.name %>
       <%= link_to book.title, book_path(book.id) %>
       <%= book.body %>
     </div>
       <% end %>
     </div>
  </div>
</div>