<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
     <% if @book.errors.any? %>
      <h2><%= @book.errors.count %>errors prohibited this obj from being saved:</h2>
      <ul>
      <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
      </ul>
     <% end %>
     <%= render partial: 'users/user', locals: { user: @user } %>
     <%= render partial: 'books', locals: { book: @book } %>
    </div>

    <div class='col-md-8 offset-md-1'>
     <%= render partial: 'index', locals: { books: @books, book: @book, users: @users, user:@user } %>
     <td>コメント数: <%= @book.book_comment_count %></td>
    </div>
  </div>
</div>