<% if @book.errors.any? %>
  <%= @book.errors.count %>件のエラーが発生しました
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
     <%#= render 'users/user', user: @user %>
     <%= render partial: 'users/user', locals: { user: @user } %>
     <%= render partial: 'books', locals: { book: @book } %>
    </div>
  </div>
 </div>

<div class='col-md-8 offset-md-1'>
     <%= render partial: 'index', locals: { books: @books, book: @book, users: @users, user:@user } %>
</div>
