<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
     <%= render partial: 'users/user', locals: { user: @user } %>
     <%= render partial: 'books', locals: { book: Book.new } %>
    </div>

    <div class='col-md-8 offset-md-1'>
      <table class="table">

  	    <thead>
        <tr>
        <h1>Book detail</h1></br>
        </tr>
        </thead>

        <tbody>
          <tr>
            <td>
              <%= link_to(user_path(@book.user)) do %>
              <%= image_tag(@book.get_image) %><br>
              <%= @book.user.name %>
              <% end %>
            </td>

            <td><%= link_to @book.title, book_path(@book) %></td>
            <td>コメント数: <%= @book.book_comment_count %></td>
            <td><%= @book.body %></td>
            <td><%= render "favorites/favorite", book: @book %></td>
            <div>
              

            <% if @book.user == current_user %>
            <td><%= link_to 'Edit', edit_book_path(@book), class: 'btn btn-success' %><td>
            <td> <%= link_to 'Destroy', book_path(@book), method: :delete, data: { confirm: "本当に消しますか？" }, class: "btn btn-danger" %><td>
            <% end %>
            </td>
          </tr>
        </tbody>
      </table>
        <%= render "book_comments/index", book: @book %>
        <%= render "book_comments/form", book: @book, book_comment: @book_comment %>
    </div>
  </div>
</div>